body {
    font-family: 'Crete Round', serif;
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.5em;
}

h1 {
    margin-top: 20px;
    font-size: 100px;
    line-height: 1.15em;
    margin-bottom: 20px;
    color: #333;
}

.fork-me-ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.mid-section {
    display: flex;
    flex-direction: row;
    margin: 30px 0 40px;
}

.mid-section .control-column {
    width: 470px;
}

.input-basic {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: none;
    font-size: 13px;
    border: 1px solid #ccc;
}

.select-basic {
    font-family: 'Crete Round', serif;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: none;
    font-size: 13px;
    border: 1px solid #ccc;
}

.run-settings .control {
    display: flex;
    margin-bottom: 20px;
}

.run-settings .control label {
    width: 100px;
}

.run-settings .runs input {
    width: 250px;
}

.run-settings .tests-selection select {
    width: 250px;
    height: 250px;
}

.button-basic {
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    background-color: #5790c1;
    color: #fff;
    padding: 9px 20px;
    font-size: 17px;
    min-width: 200px;
}

.button-basic:hover {
    opacity: 0.9;
}

.results-table {
    font-family: Monospaced, Courier;
    font-size: 16px;
    line-height: 1.5em;
    white-space: pre;
}

.results-table th {
    width: 80px;
    font-weight: bold;
    text-align: right;
}

.results-table td {
    width: 80px;
    text-align: right;
}

.results-table td:nth-child(1), .results-table th:nth-child(1) {
    text-align: left;
    width: 300px;
    font-weight: bold;
}

.results-table td:nth-child(2), .results-table th:nth-child(2) {
    font-weight: bold;
}

.results-table td:nth-child(3), .results-table th:nth-child(3) {
    width: 250px;
}
